{{define "footer"}}
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <hr>
                <small class="text-muted">Copyright &copy; Vladimir Gavrilenko</small>
                <small class="text-muted">email: gavrilenko2012@gmail.com Telegram:@Vova4o</small>
            </div>
        </div>
    </div>
{{end}}